## Python has two data types
    - Mutable ->Can be change
      Lists, dictionaries, Sets 
      
    - Immutable ->Cannot be change
        Numbers, Strings, Tuples

In [9]:
# Data types
a=10
b=10.23
c="Ten"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## String

In [11]:
# String can be either defined within double or single quotes
string="Python Tutorials"
print(string)
# Extract 1st letter from string
print(string[0])
# Access any of characters
print(string[7:12])

Python Tutorials
P
Tutor

In [12]:
word ="ABC"
count=10
print("The word %s appears %i number of times" %(word, count))

The word ABC appears 10 number of times

In [4]:
# Input Function
print("Enter your name ")
name =input()

Enter your name
Raju

In [6]:
# Input Function
name =input("Enter your name ")

Enter your name Raju

In [18]:
# Find Function
string ="FindMe"
string.find("Me")

4

In [23]:
# Replace 
string="Replaced"
string.replace("ed", "e")

'Replace'

In [25]:
# Split 
string ="Apple, Orange, Banana"
string.split(",")

['Apple', ' Orange', ' Banana']

In [26]:
# Count
string = "Apples"
string.count("e")

1

In [35]:
# Uppercase
string1 ="Pineapples"
string2= string1.upper()
print(string2)
string2.count("P")

PINEAPPLES

3

# Tuples

In [18]:
# Immutable -> Value cannot be changed
# Tuples are a group of values within () 
# Tuple index starts from 0

tuples = ( 15,20,'Apples', 'Orange', 'Grapes', 'Watermelon')
type(tuples)

tuple

In [19]:
# Print first element of tuple
tuples[0]

15

In [20]:
# Print last element of tuple
tuples[-1]

'Watermelon'

In [21]:
# Tuples starts from 2nd value to 5th value i.e 4th element
tuples[2:5]

('Apples', 'Orange', 'Grapes')

In [38]:
tuples =('a','b','c','d')
#Concatenation
tuples+=('e',)
print(tuples)

('a', 'b', 'c', 'd', 'e')

In [39]:
# Repetition
tuples*2

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [40]:
# Indexing
tuples[3]

'd'

In [47]:
# Slicing -Shows specified range of value
# Slice from first to last
tuples[1:]
# Slice 1st three values
tuples[:3]

('a', 'b', 'c')

# Mutable Data types

# List

In [29]:
# A sequence of mutable python objects defined under []
myList = list()
type(myList)

list

In [29]:
# Concatenation -> Adding element to a list
myList=['1','2',"Apple", "Orange"]
myList+=['Banana',]
myList

['1', '2', 'Apple', 'Orange', 'Banana']

In [10]:
# Repetition
myList*2

['1', '2', 'Apple', 'Orange', 'Banana', '1', '2', 'Apple', 'Orange', 'Banana']

In [30]:
# Slicing -> For extracting specific element
# Access 1st four elements
myList[:4]

['1', '2', 'Apple', 'Orange']

In [32]:
# Access last element
myList[-1]

'Banana'

In [33]:
# Aceess last 3 element
myList[2:]

['Apple', 'Orange', 'Banana']

In [34]:
# Append -> Used to add an element to a list at last position

myList.append('Pineapples')
print(myList)

['1', '2', 'Apple', 'Orange', 'Banana', 'Pineapples']

In [35]:
# Extends -> Concatenates one list to anther list

# When we use append funstion to a list then we just add the values to a list 
# When we use extend function to list then we merge two list together

# myList.extend([3, 'Payaya'])
myList.extend([3, 4])
print(myList)

['1', '2', 'Apple', 'Orange', 'Banana', 'Pineapples', 3, 4]

In [36]:
# Insert -> Insert particular value to particular position/location
    # Insert value at 2nd position in a list
myList.insert(2, "Grapes")
print(myList)

['1', '2', 'Grapes', 'Apple', 'Orange', 'Banana', 'Pineapples', 3, 4]

In [37]:
# Check whether a particular value present in a list or not
list1 = [10, 20, 30, 'Orange', 'Banana']
a =20
for value in list1:
    if(value==a):
        print("Success")

Success

In [38]:
# Particular value present in list or not
a = 50
a in list1

False

In [39]:
# Particular value present in list or not
a = 20
a in list1

True

In [40]:
# Pop
# pop() ->Remove the last element
# pop(index) -> Remove the value at a particular index
# remove(value) -> Remove the value
# del list(index) -> Remove the value from the index
list1.pop(2)

30

In [41]:
# Remove a particular value
list1.remove(20)
list1

[10, 'Orange', 'Banana']

In [42]:
del list1[2]
list1

[10, 'Orange']

In [43]:
# List is single dimensional array but we can define a list with in a list

list1 = [[10,20,30],[40,50,60,],[70,80,90]]
list1[0]
list1[1][1]

50

In [44]:
# Multiplication of list
list = [2,3,4]
list1 =[]
for value in list:
    list1.append(value*2)
print(list1)

[4, 6, 8]

# Dictionary

In [86]:
# Dictionary are unordered collection of data i.e not sequential in nature
# Items are stored into Key Value pair under { }
#Dictionary key is seperated by colon and items are separated by comma

myDict ={1:"Apple", 2:"Banana"}
myDict

{1: 'Apple', 2: 'Banana'}

In [87]:
# Dictionary with mixed key value pair
myDict ={"name":"John", 2:[2,3,4]}
myDict

{'name': 'John', 2: [2, 3, 4]}

In [88]:
# Access elements value from dictionary
myDict={1:"Orange",2:"Banana"}

# Access 2nd value from dictionary
myDict[2]

'Banana'

In [89]:
# Length of dictionary
len(myDict)

2

In [90]:
# Access all keys from dictionary
myDict.keys()

dict_keys([1, 2])

In [91]:
# Access all values from dictionary
myDict.values()

dict_values(['Orange', 'Banana'])

In [92]:
# Check whether a particular element is present in dictionary on not
2 in  myDict

True

In [93]:
# Check whether a particular element is present in dictionary or not
3 in myDict

False

In [94]:
# Key Value pairs in dictionary
myDict.items()

dict_items([(1, 'Orange'), (2, 'Banana')])

In [95]:
for key, value in myDict.items():
    print("key is", key, "and value is", value)

key is 1 and value is Orange
key is 2 and value is Banana

In [96]:
# Update -> Updating values in a dictionary
myDict.update({3:"Pineapples"})
print(myDict)

{1: 'Orange', 2: 'Banana', 3: 'Pineapples'}

In [97]:
# Add new value at specific position in a dictionary
myDict[4] = "Grapes"
myDict

{1: 'Orange', 2: 'Banana', 3: 'Pineapples', 4: 'Grapes'}

# Set

In [100]:
# A set is an unordered collection of items. 
# Items are grouped together within curly bracket {}, and separated by comma
# Every element is unique
# Removes the duplicate values
set1 =set('ttrrryyyy')
print(set1)

{'r', 't', 'y'}

In [101]:
mySet1 ={1,2,3}
print(mySet1)

{1, 2, 3}

In [102]:
# Union -> Use | symbol 
# Print all elements present between both set
mySet2 ={3,4,5}
mySet1 | mySet2

{1, 2, 3, 4, 5}

In [103]:
# Intersection --> Use & symbol
# Print all the common elements present between both set
mySet1 & mySet2

{3}

In [104]:
# Difference of two sets
# Print all the elements present in first set which is not in second set
mySet1 - mySet2

{1, 2}

In [105]:
# Difference of two sets
# Print all the elements present in second set which is not in first set
mySet2 - mySet1

{4, 5}

In [106]:
# Remove all the duplicate value from the list
list1 = [1,2,3,3,4,"Orange", "Banana", "Orange", "Apple"]
list2 = set(list1)
print(list2)

{1, 2, 3, 4, 'Banana', 'Orange', 'Apple'}